AGENTEUM_HOST=127.0.0.1
AGENTEUM_PORT=8765
AGENTEUM_ALLOW_REMOTE=false
AGENTEUM_REQUEST_TIMEOUT=15.0
AGENTEUM_FETCH_TIMEOUT=20.0
AGENTEUM_JINA_TIMEOUT=30.0
AGENTEUM_LOG_LEVEL=INFO
TAVILY_API_KEY=
EXA_API_KEY=
JINA_API_KEY=
